<div class="min-h-screen flex items-center justify-center bg-gray-100">
    <div class="w-full max-w-md bg-white shadow-lg rounded-lg overflow-hidden my-8">
      <!-- Tabs -->
      <div class="flex border-b">
        <button
          class="flex-1 text-center py-3 font-medium"
          [class.text-blue-500]="isLoginTab"
          [class.text-gray-500]="!isLoginTab"
          [class.border-b-2]="isLoginTab"
          [class.border-blue-500]="isLoginTab"
          (click)="setTab('login')"
        >
          Login
        </button>
        <button
          class="flex-1 text-center py-3 font-medium"
          [class.text-blue-500]="!isLoginTab"
          [class.text-gray-500]="isLoginTab"
          [class.border-b-2]="!isLoginTab"
          [class.border-blue-500]="!isLoginTab"
          (click)="setTab('signup')"
        >
          Signup
        </button>
      </div>
  
      <!-- Login Form -->
       @if(isLoginTab){
           <div  class="p-6">
             <h2 class="text-2xl font-bold text-center text-blue-600">Login</h2>
             <form (ngSubmit)="login()" class="mt-4">
               <div class="mb-4">
                 <label for="fname" class="block text-gray-600 mb-1">First Name</label>
                 <input
                   id="fname"
                   type="text"
                   [(ngModel)]="loginForm.firstname"
                   name="fname"
                   required
                   placeholder="Ex: John"
                   class="w-full px-4 py-2 border rounded-lg focus:ring-2 focus:ring-blue-500"
                   (change)="onFormChange()"
                 />
               </div>
               <div class="mb-4">
                 <label for="lname" class="block text-gray-600 mb-1">Last Name</label>
                 <input
                   id="lname"
                   type="text"
                   [(ngModel)]="loginForm.lastname"
                   name="lname"
                   required
                   placeholder="Ex: Doe"
                   class="w-full px-4 py-2 border rounded-lg focus:ring-2 focus:ring-blue-500"
                   (change)="onFormChange()"
                 />
               </div>
               <div class="mb-4">
                 <label for="loginPassword" class="block text-gray-600 mb-1">Password</label>
                 <div class="relative">  
                     <input
                       id="loginPassword"
                       [type]="showLoginPassword ? 'text' : 'password'"
                       [(ngModel)]="loginForm.password"
                       name="loginPassword"
                       required
                       placeholder="Enter your password"
                       class="w-full px-4 py-2 border rounded-lg focus:ring-2 focus:ring-blue-500"
                       minlength="8"
                       #password="ngModel"
                       (change)="onFormChange()"
                     />
                     <button
                       type="button"
                       class="absolute right-3 top-2 text-gray-500 hover:text-gray-800"
                       (click)="togglePasswordVisibility('login')"
                     >
                       <i [class]="showLoginPassword ? 'fas fa-eye' : 'fas fa-eye-slash'"></i>
                     </button>

                     @if(password.errors?.['minlength'] && password.touched){
                        <div  class="text-sm text-red-500">
                            Password must be at least 8 characters long.
                        </div>
                     }
                 </div>
               </div>
               <button
                 type="submit"
                 class="w-full bg-blue-500 text-white py-2 rounded-lg hover:bg-blue-600"
               >
                 Login
               </button>
             </form>

             <p class="mt-4 text-sm text-center">
                Don't have an account?
                <button
                  type="button"
                  (click)="switchForm('signup')"
                  class="text-green-500 hover:underline"
                >
                  Sign up
                </button>
              </p>
           </div>

       }@else {
           <div class="p-6">
             <h2 class="text-2xl font-bold text-center text-blue-600">Signup</h2>
             <!-- User Type Toggle -->
          <!-- Signup Form -->
           
               <!-- Farmer Signup Form -->
               <form (ngSubmit)="signup()" class="mt-4">
                 <div class="mb-4">
                   <label for="farmerFirstName" class="block text-gray-600 mb-1">First Name</label>
                   <input
                     id="farmerFirstName"
                     type="text"
                     [(ngModel)]="farmerForm.firstname"
                     name="farmerFirstName"
                     required
                     placeholder="Enter first name"
                     class="w-full px-4 py-2 border rounded-lg focus:ring-2 focus:ring-blue-500"
                     (change)="onFormChange()"
                   />
                 </div>
                 <div class="mb-4">
                   <label for="farmerLastName" class="block text-gray-600 mb-1">Last Name</label>
                   <input
                     id="farmerLastName"
                     type="text"
                     [(ngModel)]="farmerForm.lastname"
                     name="farmerLastName"
                     required
                     placeholder="Enter last name"
                     class="w-full px-4 py-2 border rounded-lg focus:ring-2 focus:ring-blue-500"
                     (change)="onFormChange()"
                   />
                 </div>
                 <div class="mb-4">
                   <label for="farmerAge" class="block text-gray-600 mb-1">Age</label>
                   <input
                     id="farmerAge"
                     type="number"
                     [(ngModel)]="farmerForm.age"
                     name="farmerAge"
                     required
                     placeholder="Enter age"
                     class="w-full px-4 py-2 border rounded-lg focus:ring-2 focus:ring-blue-500"
                     (change)="onFormChange()"
                   />
                 </div>
                 <div class="mb-4">
                   <label class="block text-gray-600 mb-1">Gender</label>
                   <select
                     [(ngModel)]="farmerForm.gender"
                     name="farmerGender"
                     required
                     class="w-full px-4 py-2 border rounded-lg focus:ring-2 focus:ring-blue-500"
                     (change)="onFormChange()"
                   >
                     <option value="">Select Gender</option>
                     <option value="male">Male</option>
                     <option value="female">Female</option>
                     <option value="other">Other</option>
                   </select>
                 </div>

                 <div class="mb-4">
                    <label for="loginPassword" class="block text-gray-600 mb-1">Password</label>
                    <div class="relative">  
                        <input
                          id="signupPassword"
                          [type]="showLoginPassword ? 'text' : 'password'"
                          [(ngModel)]="farmerForm.password"
                          name="signupPassword"
                          required
                          placeholder="Enter your password"
                          class="w-full px-4 py-2 border rounded-lg focus:ring-2 focus:ring-blue-500"
                          minlength="8"
                          #password="ngModel"
                          (change)="onFormChange()"
                        />
                        <button
                          type="button"
                          class="absolute right-3 top-2 text-gray-500 hover:text-gray-800"
                          (click)="togglePasswordVisibility('login')"
                        >
                          <i [class]="showLoginPassword ? 'fas fa-eye' : 'fas fa-eye-slash'"></i>
                        </button>
   
                        @if(password.errors?.['minlength'] && password.touched){
                           <div  class="text-sm text-red-500">
                               Password must be at least 8 characters long.
                           </div>
                        }
                    </div>
                  </div>
                 <button
                   type="submit"
                   class="w-full bg-blue-500 text-white py-2 rounded-lg hover:bg-blue-600"
                 >
                   Signup
                 </button>
               </form>

               
          </div>
       }
  
    </div>
  </div>
  

